@import 'appear';
@import 'banner';
@import 'shimmer';

body {
  background-color: #666;
  font: 16px Solis, Arial, Helvetica, sans-serif;
  margin: 0;

  h2 {
    /* margin-top: 2em; */

    &:first-child {
      margin-top: 0;
    }

    em {
      color: gray;
      font-size: smaller;
    }
  }

  img {
    max-width: 100%;
  }
}

hr {
  border: dotted gray;
  border-width: 1px 0 0;
  margin: 4em 0 3em;
}

main {
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

.ads {
  container-type: inline-size;

  .ad {
    // container-type: size;
    flex: 0 0 var(--ad-width);
    font-size: 0;
    scroll-snap-align: start;
    animation: appear 0.5s calc(var(--animation-index) * 0.5s) both;

    // @for $i from 1 to 6 {
    //   &:nth-of-type(#{$i}) {
    //     --animation-delay: #{$i};
    //   }
    // }

    &.hero {
      // container-type: size;
      flex-basis: 100%;

      .rounded-img {
        height: 0;
        padding-top: 33%;
        position: relative;

        &::before {
          @include banner(orangered, #666, 'Instant install');
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
        }

        &.crop-from-bottom img {
          top: auto;
          bottom: 0;
        }
      }
    }

    .rounded-img {
      border-radius: 8px;
      overflow: hidden;

      @extend %shimmer-target;
    }

    img {
      max-width: 100%;
    }

    p {
      font-size: 1rem;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
    }
  }
}

.ad-row {
  display: flex;
  // flex-wrap: wrap;
  // height: 400px;
  gap: max(1.5ch, 1cqw);
  overflow-x: auto;

  &.scroll-snap {
    scroll-snap-type: x mandatory;
  }
}

section.hide {
  display: none;
}

p.hero-text {
  font-size: 1.25em;
  margin-top: 0.5em;
}

.full-width img {
  width: 100%;
}

.ad-row-3 {
  --ad-width: calc(45cqw - max(3ch, 2cqw));
}

.ad-row-4 {
  --ad-width: calc(30cqw - max(3ch, 2cqw));
}
